body.dark-mode {
    /* Cor de fundo escura para o corpo da página */
    background-color: #121212;
    /* Cor do texto clara */
    color: #E0E0E0;
}

/* Redefinição de variáveis e cores para elementos principais no Dark Mode */
body.dark-mode {
    /* Cores de fundo e texto dos containers e divs */
    --cinza-claro: #333333;
    --cinza-texto-base: #B0B0B0;
    --prata-base: #1F1F1F;
    /* Fundo mais escuro */

    /* Cores principais em tons claros para contraste */
    --vermelho-base: #FFB4AB;
    /* Vermelho claro para elementos principais */
    --azul-base: #A0CFFD;
    /* Azul claro */
    --primario-titulos-hover: #C5E6FF;
    /* Azul mais claro para títulos */
}

/* Títulos H1 (geral) e H2 (serviços) */
body.dark-mode h1,
body.dark-mode .h1-div-servicos,
body.dark-mode #servicos-h2 {
    color: var(--azul-base);
}

/* Divisores (hr) */
body.dark-mode hr {
    border-color: #333333;
}

/* Navbar */
body.dark-mode .nav-bar {
    background: #424242;
    border: 1px solid #757575;
}

body.dark-mode .li-nav-bar {
    border-left: 1px solid #757575;
}

body.dark-mode .li-nav-bar:last-child {
    border-right: 1px solid #757575;
}

body.dark-mode .li-nav-bar:hover {
    background-color: #292929;
}

body.dark-mode .a-nav-bar {
    color: #E0E0E0;
}

/* Botão de busca e campo de pesquisa */
body.dark-mode .br-pesq {
    background: #424242;
    color: #E0E0E0;
    border: 1px solid #757575;
}

body.dark-mode .search-button {
    background-color: var(--vermelho-base);
}

/* Texto topo GSP */
body.dark-mode #texto-topo-gsp {
    color: #B0B0B0;
}

/* Controles de acessibilidade (botões) */
body.dark-mode .controles-acessibilidade button {
    border: 2px solid #E0E0E0;
    color: #E0E0E0;
}

/* Ícones de Mídias Sociais - Inverte a cor para melhor visualização em fundo escuro */
body.dark-mode .img-midias {
    filter: invert(100%);
    opacity: 0.9;
}

/* Contêineres de Serviços */
body.dark-mode .div-servicos,
body.dark-mode .div-servicos-2 {
    background: var(--cinza-claro);
    color: #E0E0E0;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
}

/* Botões de Serviço */
body.dark-mode .botao-servicos {
    background-color: var(--vermelho-base);
}

body.dark-mode .botao-servicos:hover {
    background-color: #7E0000;
}

/* Rodapé */
body.dark-mode footer {
    background-color: #000000;
}

/* Tabelas (Kits e Materiais / Estoque) */
body.dark-mode table {
    background-color: #333333;
}

body.dark-mode thead {
    background-color: #424242;
    color: var(--vermelho-base);
}

body.dark-mode th,
body.dark-mode td {
    border: 1px solid #121212;
}

body.dark-mode .item:hover {
    background-color: #424242;
}

body.dark-mode #search-input {
    border: 2px solid #333333;
    background-color: #424242;
    color: #E0E0E0;
}

body.dark-mode .clear-search {
    color: #B0B0B0;
}

body.dark-mode .clear-search:hover {
    color: var(--vermelho-base);
}
